{% include 'params.html' %}

<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    {% include 'head.html' %}

    <link rel="preload" as="style" href="./assets/css/style.css" />
    <link rel="preload" as="script" href="./assets/js/app.js" />

    <link rel="stylesheet" href="./assets/css/style.css" />
  </head>

  <body>
    <div class="page bg-main">{% block content %} {% endblock %}</div>
    {% include 'modal.html' %}

    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=<?= $params['GTM'] ?>"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <script src="./assets/js/app.js"></script>
  </body>
</html>
