<div class="backdrop is-hidden" data-modal>
  <div class="text-white bg-pink-900 modal">
    <button class="modal-close-btn" type="button" data-modal-close aria-label="{{modal.btn_close_aria}}">
      <svg class="modal-btn-close-svg" width="30" height="30">
        <use href="./assets/images/sprite.svg#icon-close-menu"></use>
      </svg>
    </button>

    <img class="logo" src="./assets/images/logo.svg" alt="logo" width="100" height="30" loading="lazy" />

    {% import './components/macro/step.html' as service %}
    {{service.stepDiv(form.steps, form.ID)}}
    {% include './components/form.njk' %}
  </div>
</div>